<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title>Blog page</title>
  </head>
  <body>
    <%- include("./partials/nav") %>
    <div class="container mt-4">
      <h1><%= blog.title %></h1>
      <img src="<%= blog.coverImgUrl %>" width="500px" height="400px" />
      <p class="mt-4"><%= blog.body %></p>
      <div class="">
        <h6>Created By</h6>
        <img src="<%=blog.createdBy.profileImgUrl%>" width="40px" alt="" />
        <span><%= blog.createdBy.fullName %></span>
      </div>
    </div>

    <div class="container mt-3">
      <h1>Comments (<%= comments.length %>)</h1>
      <% if (locals.user) { %>
        <form action="/blog/comment/<%= blog._id %>" method="post">
            
          <div class="mb-3 ">
            
            <input type="text" name="content" placeholder="write your comment here!!"
            class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          
          <button  type="submit" class="btn btn-primary">Add</button>
        </form>
      <% } %>
    </div>

    <div class="container mt-3">
      <% comments.forEach( comment => { %>
        <img src="<%=comment.createdBy.profileImgUrl%>" width="40px" alt="" />
        <span><%= comment.createdBy.fullName %></span>
        <p><%=comment.content%></p>
      <% }) %>
    </div>

    <%- include("./partials/scripts") %>
  </body>
</html>
